.scene{

  display: block;
  max-width: 1200px;
  overflow:hidden;
  padding: 0;
  margin: 0 auto;
  list-style:none;
  position: relative;

}

.layer {
  display: block;

  max-width: 1200;
  overflow:hidden;
  padding: 0;
  margin: 0 auto;
  position: absolute;
   background-repeat: no-repeat;
}


.layer img{

	width:100%;
}

.header{
	background-image:url(./rombg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	border-bottom:8px solid #000;

}
	.header .container{
		position: relative;
	}
	.header .nav{
		height:85px;
		width:100%;
		position: absolute;
		background:#f8f4f1;
		border-bottom:8px solid #000;
	}
		.header .logo{
			float:right;
			margin-top:10px;
			width:64px;
			height:55px;
			background:url(./midboss.png) no-repeat;
			text-indent: -9999px;
            display:block;
            position:absolute;
            right: 0;
            z-index:100;
		}

.rombrush{

}
.romlogo{

}
.romlexi{
 margin-top:10px;
}
.romturing{
 margin-top:10px;
}

.container{
	max-width: 68em;
	margin-left: auto;
	margin-right: auto;
	padding-right: 1.618em;
	padding-left: 1.618em;
}

.separate-containers .site-main{
    margin-top: 0;
    padding-top: 0;
}
.separate-containers .inside-article, .separate-containers .widget, .separate-containers .comments-area, .separate-containers .page-header, .separate-containers .paging-navigation {
    padding-top: 9px;
}

/* Mailing List Sign Up Form*/
#signup form {text-align:center; padding:10px 0 10px 0;}
#signup input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
#signup input.email { width: 200px;}
#signup .button {font-size: 15px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px;
  border-radius: 3px; letter-spacing: .03em; color: #000; background-color: #e194be; box-sizing:border-box;
  height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s; }
#signup .button:hover {background-color:#d2609e; cursor:pointer;}
#signup label {display:block; font-family: 'BebasNeue'; padding-bottom:0; }